<h1>Sign In</h1>
<form action="/user/create_session" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <br>
    <input type="email" name="email" placeholder="Your Email" required>
    <br>
    <input type="password" name="password" placeholder="Password" required>
    <br>
    <input type="submit" value="Sign In">

</form>